@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

:root {
    --black: #222;
    --medium: #565656;
    --light: #9e9e9e;
    --hot: #fba92c;
    --white: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--black);
}

#header {
    background-color: var(--white);
    width: 100%;
    padding: 0 20px;
    position: relative;
}

#header a {
    text-decoration: none;
    color: var(--black);
}

#header #header-top {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin: 0 auto;
    z-index: 50;
    position: relative;
    background-color: var(--white);
}

#header #header-top .icons {
    margin-top: 18px; 
    display: flex;
    flex-direction: column;  
    align-items: flex-end;
}

#header #header-top .icons .search-bar {
    display: none;
}

#header #header-top .icons a {
    margin-left: 20px;
}

#header #header-top .icons a .fa {
    margin-bottom: 15px;
}

#header #header-top .icons a .fa,
#header .nav-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

#header #nav {
    position: absolute;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    background-color: var(--white);
    right: 0;
    padding: 0 10px;
    z-index: 30;
    border-radius: 0 0 0 10px;
    top: -400px;
}

#header #nav.collapse {
    animation: topCollapse .5s;
}

#header #nav.show {
    top: 110px;
    animation: topExpand .5s;
}

@keyframes topExpand {
    0% {
        top: -400px;
    }
    100% {
        top: 110px;
    }
}

@keyframes topCollapse {
    0% {
        top: 110px;
    }
    100% {
        top: -400px;
    }
}

#header #nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 1px 0;
}

#header #nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header #nav ul li a:hover {
    background-color: var(--light);
}

#header #nav li.search-bar {
    height: 30px;
    border: 1px solid var(--black);
    border-radius: 5px;
    display: flex;
    justify-content: initial;
    align-items: initial;
    margin-bottom: 15px;
    opacity: 0;
    animation: searchCollapse .5s;
}

#header #nav.show li.search-bar {
    opacity: 1;
    animation: searchExpand .5s;
}

@keyframes searchExpand {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes searchCollapse {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
}

#header #nav li.search-bar input {
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

#header #nav li.search-bar input:focus {
    outline: none;
}

#header #nav li.search-bar button {
    cursor: pointer;
    border: none;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid var(--black);
    padding: 0 10px;
    background-color: var(--black);
    color: var(--white);
}

#header #nav li.search-bar button:focus {
    outline: none;
}

#header #nav .nav-expand ul {
    display: none;
}

#header #nav .nav-expand .fa-caret-down {
    display: none;
}

@media (min-width: 800px) {
    #header #header-top {
        max-width: 1000px;
        margin-bottom: -20px;
    }

    #header #header-top .icons {
        display: flex;
        flex-direction: row;  
        align-items: center;
        margin-top: 0;
    }

    #header #header-top .icons .search-bar {
        display: flex;
        border: 1px solid var(--black);
        border-radius: 5px;
        height: 30px;
    }

    #header #header-top .icons .search-bar input {
        border: none;
        padding: 10px;
        border-radius: 5px 0 0 5px;
    }
    
    #header #header-top .icons .search-bar input:focus {
        outline: none;
    }

    #header #header-top .icons .search-bar button {
        cursor: pointer;
        border: none;
        border-radius: 0 3px 3px 0;
        border-left: 1px solid var(--black);
        padding: 0 10px;
        background-color: var(--black);
        color: var(--white);
    }

    #header #header-top .icons .search-bar button:focus {
        outline: none;
    }

    #header #header-top .icons .nav-icon {
        display: none;
    }

    #header #header-top .icons a .fa {
        margin-left: 0;
        margin-bottom: 0;
    }

    #header #nav {
        position: initial;
        text-align: initial;
        max-width: 1000px;
        right: auto;
        padding: 0;
        z-index: 100;
    }

    #header #nav ul {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: -10px;
    }

    #header #nav ul li {
        width: 100%;
        border-right: 1px solid var(--black);
        height: 30px;
        margin-top: 20px;
    }

    #header #nav ul li:nth-child(6) {
        border-right: none;
    }

    #header #nav ul li a {
        width: 60%;
        height: 60%;
    }
    
    #header #nav ul li a:hover {
        background-color: inherit;
    }

    #header #nav .nav-expand .fa-caret-down {
        display: initial;
    }

    #header #nav li.search-bar {
        display: none;
    }

    #header #nav li.nav-expand {
        position: relative;
    }

    #header #nav li.nav-expand:hover ul {
        display: initial;
        position: absolute;
        background-color: var(--white);
        top: 30px;
        z-index: 150;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #header #nav li.nav-expand ul li {
        border-right: none;
        margin: 0;
        height: 60px;
    }

    #header #nav li.nav-expand ul li:hover {
        background-color: var(--light);
    }

    #header #nav li.nav-expand ul li a {
        height: 100%;
        width: 100%;
    }
    
}
